// *** Font Open Sans ***
$font-stack: "Roboto", sans-serif;
$extra-bold: bolder;
$regular: lighter;
$semi-bold: normal;

// *** Colors ***
$bg-color: rgb(253, 253, 253);
$black-color: rgb(0, 0, 0);
$ube-color: rgb(82, 56, 237);
$white-color: rgb(255, 255, 255);

// *** Global Style ***

body {
  font-family: $font-stack;
}

button {
  font-family: $font-stack;
}

input {
  font-family: $font-stack;
}

// *** Global Display Flex ***

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.center-grid {
  display: grid;
  justify-content: center;
  align-content: center;
}

.flex-end {
  justify-content: flex-end;
  width: 100vw;
}

.align-item {
  align-items: center;
}

// *** Login Page ***

.login-img-container {
  padding: 100px 50px 0px 50px;
}

.login-img {
  width: 467px;
}

.login-container {
  margin-left: 20px;
}

.title {
  font-size: 36px;
  font-weight: $extra-bold;
}

.login-sub-title {
  font-size: 18px;
  font-weight: $regular;
}

.login-label-email {
  margin: 40px 0px 5px 0px;
  font-weight: $semi-bold;
}

.login-label-pass {
  margin: 30px 0px 5px 0px;
  font-weight: $semi-bold;
}

.login-input {
  width: 300px;
  border-radius: 10px;
  padding: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 25px 0px 30px 0px;
}
input[type="checkbox"] {
  -ms-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
  margin: 0px 10px 0px 2px;
}

.login-btn {
  width: 343px;
  height: 60px;
  border-radius: 10px;
  background-color: $ube-color;
  color: $white-color;
  font-size: 24px;
  font-weight: bolder;
}

.logo-fixed-position {
  position: fixed;
  bottom: 30px;
  right: 40px;
  color: $ube-color;
  font-weight: $extra-bold;
  font-size: 24px;
}

// *** Home Page ***
// *** NavBar ***

.container-navbar {
  padding: 0px 60px;
}

.nav-logo {
  font-size: 36px;
  font-weight: $extra-bold;
  text-decoration: none;
  color: $ube-color;
}

.nav-profile {
  border: 0px;
  background-color: $white-color;
  margin-right: 50px;
  font-size: 18px;
  text-decoration: none;
  color: $black-color;
}

.nav-free-trial {
  background-color: $ube-color;
  color: $white-color;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 15px;
}

.title-home {
  margin: 90px 0px 70px 0px;
}

// *** Profile Page ***

.icon-profile {
  font-size: 80px;
  margin-top: 1em;
}

.profile-label {
  margin: 30px 0px 5px 0px;
  font-weight: $semi-bold;
}

.profile-btn {
  width: 343px;
  height: 60px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: $ube-color;
  color: $white-color;
  font-size: 24px;
  font-weight: bolder;
}

.profile-input {
  width: 300px;
  border-radius: 10px;
  padding: 20px;
}









@media (max-height: 900px) {
  .logo-fixed-position {
    font-size: 0px;
  }
}

@media (max-width: 949px) {
  .flex-direction {
    flex-direction: column;
    align-items: center;
  }

  .login-img-container {
    padding: 50px 50px 0px 50px;
  }

  .login-img {
    width: 350px;
  }
  .login-container {
    margin-left: 0px;
  }
}

@media (max-width: 738px) {
  .login-img-container {
    padding: 20px 20px 0px 20px;
  }

  .login-img {
    width: 300px;
  }

  .login-container {
    margin-left: 0px;
  }
}

@media (max-width: 422px) {
  .login-img-container {
    padding: 20px 0px 0px 10px;
  }

  .login-img {
    width: 230px;
  }

  .login-container {
    margin-left: 0px;
  }

  .title {
    font-size: 30px;
    font-weight: $extra-bold;
  }

  .login-sub-title {
    font-size: 15px;
    font-weight: $regular;
  }

  .login-label-email {
    margin: 30px 0px 5px 0px;
    font-weight: $semi-bold;
  }

  .login-label-pass {
    margin: 30px 0px 5px 0px;
    font-weight: $semi-bold;
  }

  .login-input {
    width: 220px;
    border-radius: 10px;
    padding: 20px;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    margin: 25px 0px 30px 0px;
  }
  input[type="checkbox"] {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    margin: 0px 10px 0px 2px;
  }

  .login-btn {
    width: 264px;
    height: 50px;
    border-radius: 10px;
    background-color: $ube-color;
    color: $white-color;
    font-size: 20px;
    font-weight: bolder;
  }
}

@media (max-width: 322px) {
  .login-img-container {
    padding: 10px 0px 0px 10px;
  }

  .login-img {
    width: 200px;
  }

  .title {
    font-size: 30px;
    font-weight: $extra-bold;
  }

  .login-sub-title {
    font-size: 12px;
    font-weight: $semi-bold;
  }

  .login-label-email {
    margin: 20px 0px 5px 0px;
    font-weight: $semi-bold;
  }

  .login-label-pass {
    margin: 20px 0px 5px 0px;
    font-weight: $semi-bold;
  }

  .login-input {
    width: 180px;
    border-radius: 10px;
    padding: 20px;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    margin: 25px 0px 30px 0px;
  }
  input[type="checkbox"] {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    margin: 0px 10px 0px 2px;
  }

  .login-btn {
    width: 224px;
    height: 50px;
    border-radius: 10px;
    background-color: $ube-color;
    color: $white-color;
    font-size: 20px;
    font-weight: bolder;
  }
}
